body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

:root {
  --first-text-color
}
/* Header */
.header {
}
.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: black;
  letter-spacing: 0.03em;
}
.header-logo-color {
  color: #2196f3;
}
.header-list {
}
.header-item {
}
.header-link {
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
  color: #2196f3;
}
.header-link-color {
  color: #2196f3;
}
.header-contact-list {
}
.header-contact-item {
}
.header-contact-mail {
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-contact-mail:hover,
.header-contact-mail:focus {
  color: #2196f3;
}
.header-contact-tel {
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-contact-tel:hover,
.header-contact-tel:focus {
  color: #2196f3;
}
/* Hero */
.hero {
  background-color: #2f303a;
}
.hero-headline {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.hero-btn {
  background-color: #2196f3;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.hero-btn:hover {
  background: #188ce8;
}
/* Softskills */
.softskills {
}
.softskills-list {
}
.softskills-item {
}
.softskills-headline {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.softskills-text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Occupation */
.occupation {
}
.occupation-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.occupation-list {
}
.occupation-item {
}
/* Team */
.team {
  background-color: #f5f4fa;
}
.team-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.team-list {
}
.team-item {
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/* Footer */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  color: white;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.address {
}
.footer-list {
}
.footer-item {
}
.map-link {
  color: white;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.map-link:hover,
.map-link:focus {
  color: #2196f3;
}
.footer-contact-mail {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-contact-mail:hover,
.footer-contact-mail:focus {
  color: #2196f3;
}
.footer-contact-tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-contact-tel:hover,
.footer-contact-tel:focus {
  color: #2196f3;
}
/* Portfolio */
.portfolio {
}
.portfolio-nav-list {
}
.portfolio-nav-item {
}
.portfolio-nav-btn {
  background: #f5f4fa;
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.portfolio-nav-btn:hover {
  background: #2196f3;
  color: #f5f4fa;
  cursor: pointer;
}
.project-list {
}
.project-item {
}
.project-headline {
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.project-link {
}

.header-item,
.header-contact-item,
.softskills-item,
.occupation-item,
.team-item,
.footer-item,
.portfolio-nav-item,
.project-item {
  list-style-type: none;
}

.header-link,
.header-contact-mail,
.header-contact-tel,
.header-logo,
.footer-logo,
.map-link,
.footer-contact-mail,
.footer-contact-tel,
.project-link {
  text-decoration: none;
}
